@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background: #eee;
font-family: 'Poppins',sans-serif;
}

h1{
font-size:24px;
}

h2{
color: #fff;
text-align: center;
font-weight:bold;
background: crimson;
padding: 10px;
}

.top{
margin: 5px;
display: grid;
}

#wrapper {
 width: 330px;
 height: 500px;
 text-align: center;
 font-family: 'Sofia';
 padding: 30px;
 margin: 5px auto;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 border-radius: 5px;
}


#reciever{
margin: 10px;
outline: none;
height: 35px;
width: 80%;
background: #eee;
border: 2px solid lightgray;
border-radius: 5px;
font-size: 20px;
}

#date{
margin: 10px;
outline: none;
height: 35px;
width: 80%;
background: #eee;
border: 2px solid lightgray;
border-radius: 5px;
font-size: 20px;
}

#sender{
margin: 10px;
outline: none;
height: 35px;
width: 80%;
background: #eee;
border: 2px solid lightgray;
border-radius: 5px;
font-size: 20px;
}


#reason{
margin-left:10px;
background: #eee;
height: 35px;
width: 80%;
border: 2px solid lightgray;
border-radius: 5px;
font-size: 20px;
outline:none;
}

label{
text-align: left;
color: #111;
font-size: 20px;
padding-left:10px;
}

.buttons{
display: grid;
grid-template-columns: repeat(3, 1fr);
padding: 10px;  
gap: 10px;
}



#submit{
background: rgba(243, 0, 75, 1);
}

#reset:hover{
outline: none;
color: #262626;
}

#submit:hover{
outline: none;
color: #262626;
}

.down:hover{
outline: none;
color: #262626;
}


.screen:hover{
outline: none;
color: #262626;
}

#reset{
background: rgb(10, 251, 130);
}

.down,.screen{
background:#0096FF;
}

.btns{
border: none;
padding: 10px;
font-size: 18px;
color: #fff;
border-radius:5px;
outline: none;
}


#emoji {
 font-size: 40px;
}




.cake{
height: 200px;
width: 200px;
padding: 20px;
}


.grad{
height: 200px;
width: 200px;
padding: 20px;
}


.tree{
height: 200px;
width: 200px;
padding: 20px;
}

.fune{
height: 200px;
width: 200px;
padding: 20px;
}

#dateOutput{
color:#111;
font-weight: bold;
}

#recieverOutput{
color:#111;
font-size: 20px;
font-weight: bold;
}

#senderOutput{
color:#111;
font-size: 20px;
font-weight: bold;
}


@media (min-width: 500px) {

.top{

grid-template-columns: repeat(2, 1fr);  

}


}