body {
background: #eee;

}

h2{
color: #111;
text-align: center;
font-weight:bold;
}

#wrapper {
  max-width: 300px;
 height: 500px;
 text-align: center;
 font-family: 'Sofia';
 padding: 30px;
 margin: 5px auto;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 border-radius: 5px;
opacity: 0.8;
background: -moz-radial-gradient(red 0.9px, transparent 0.5px), radial-gradient(#444cf7 0.9px, #e5e5f7 0.5px);
background: -webkit-radial-gradient(red 0.9px, transparent 0.5px), radial-gradient(#444cf7 0.9px, #e5e5f7 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
}

#reciever{
margin: 5px;
outline: none;
height: 35px;
background: #eee;
border: 2px solid lightgray;
border-radius: 5px;
font-size: 20px;
}

#date{
margin: 5px;
outline: none;
height: 35px;
background: #eee;
border: 2px solid lightgray;
border-radius: 5px;
font-size: 20px;
}

#sender{
margin: 5px;
outline: none;
height: 35px;
background: #eee;
border: 2px solid lightgray;
border-radius: 5px;
font-size: 20px;
}


#reason{
margin: 5px;
background: #eee;
border: 2px solid lightgray;
border-radius: 5px;
font-size: 20px;
outline:none;
}

label{
text-align: center;
padding: 5px;
color: #111;
font-size: 20px;
}

#submit,#reset,.btn{
display: inline;
padding: 10px;
margin-left: 4px;
font-size: 18px;
}

#submit{
background: rgba(243, 0, 75, 1);
color: #fff;
border: none;
border-radius: 5px;
}

#reset{
background: rgb(10, 251, 130);
color: #fff;
border: none;
border-radius: 5px;
}


#emoji {
 font-size: 40px;
}


.txt{
font-family: 'Sofia';
color: #00A36C;
}

.cake{
height: 200px;
width: 200px;
padding: 20px;
border-radius: 5%;

}


.grad{
height: 200px;
width: 200px;
padding: 20px;
border-radius: 5%;

}


.tree{
height: 200px;
width: 200px;
padding: 20px;
border-radius: 5%;

}



#dateOutput{
color:rgb(106, 90, 205);
font-weight: bold;
}

#recieverOutput{
color: #fea735;
font-size: 20px;
font-weight: bold;
}

#senderOutput{
color: #fea735;
font-size: 20px;
font-weight: bold;
}
